@import '../bootstrap/bootstrap.less';

@body-bg: #e5e5e5;

@well-bg: #fff;

div.well {
    border-radius: 0px;
    box-shadow: none;
    margin-bottom: 5px;
    border-border: 0px;

    img.thumbnail {
        width: 100%;
    }
}