<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SM-dash</title>
        <link rel="stylesheet" href="css/styles.css" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/user_actions.js"></script>
        <script src="js/bootstrap/modal.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="nav nav-pills">
                        <li id="menu" value="home"><a href="/">Home</a></li>
                        <li id="menu" value="twitter"><a href="/twitter">Twitter</a></li>
                        <li id="menu" value="scoopit"><a href="#">Scoop.it</a></li>
                        <li id="menu" value="settings"><a href="#">Settings</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </body>
</html>